@import url(https://fonts.googleapis.com/css?family=Euphoria+Script|Lato:400,700,400italic);
/* ------------------------------ */
/* ------------- #VARIABLES */
/* ------------------------------ */
/* -------------------- */
/* --- #COLORS */
/* -------------------- */
/* -------------------- */
/* --- #MEDIA QUERY BREAKPOINTS */
/* -------------------- */
/* ------------------------------ */
/* ------------- #BASE */
/* ------------------------------ */
html {
  font-family: 'Lato', sans-serif;
  color: #323232; }
  @media screen and (min-width: 1px) {
    html {
      font-size: 16px !important; } }
  @media screen and (min-width: 992px) {
    html {
      font-size: 18px !important; } }

body {
  background: #fafaf9;
  font-size: 1em;
  margin: 0; }

h1, h2, h2, a, p, span, input {
  font-family: 'Lato', sans-serif;
  color: inherit; }

h1 {
  font-size: 2rem;
  font-weight: 900; }

h1:first-child {
  margin-top: 0; }

h2 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase; }

p {
  font-size: 1rem; }

a,
.fake-link {
  color: #e6a22d;
  position: relative;
  text-decoration: none; }

a:after,
a:before,
.fake-link:after,
.fake-link:before {
  content: '';
  height: .1em;
  width: 0;
  bottom: -.15em;
  position: absolute;
  background: #e6a22d;
  transition: .1s ease all; }

a:before,
.fake-link:before {
  left: 50%; }

a:after,
.fake-link:after {
  right: 50%; }

a:hover:not(.button):before,
a:hover:not(.button):after,
.fake-link:not(.button):hover:before,
.fake-link:not(.button):hover:after {
  width: 50%; }

a:hover,
a:focus,
.fake-link:hover {
  color: #e6a22d;
  text-decoration: none;
  cursor: pointer; }

input::-webkit-input-placeholder {
  color: #999999; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #999999; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999; }

input:-ms-input-placeholder {
  color: #999999; }

/* ------------------------------ */
/* ------------- #COMPONENTS */
/* ------------------------------ */
/* -------------------- */
/* --- #ANIMATIONS */
/* -------------------- */
/* -------------------- */
/* --- #BOOTSTRAP ADDITIONS */
/* -------------------- */
/* -------------------- */
/* --- #BUTTON */
/* -------------------- */
.button {
  background-color: #e73023;
  color: #fafaf9;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  min-width: 4em;
  text-align: center;
  display: inline;
  border: none;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  transition: .2s all ease;
  position: relative;
  cursor: pointer;
  z-index: 1; }

.button:hover,
.button:focus {
  background-color: #e73023;
  color: #fafaf9;
  text-decoration: none; }

/* -------------------- */
/* --- #CONTENT CONTAINER */
/* -------------------- */
.content-container {
  padding-top: 4em;
  padding-bottom: 4em; }

/* -------------------- */
/* --- #ICON-DESCRIPTION */
/* -------------------- */
.icon-desc {
  text-align: center; }

.icon-desc i {
  font-size: 2em; }

.icon-desc h2 {
  margin-bottom: 0; }

/* -------------------- */
/* --- #INPUT */
/* -------------------- */
input {
  font-size: 1.5rem;
  padding: 1em;
  background-color: inherit; }
  @media screen and (min-width: 1px) {
    input {
      border: 0.1em solid #323232; } }
  @media screen and (min-width: 992px) {
    input {
      border-top: none;
      border-left: none;
      border-right: none; } }

/* -------------------- */
/* --- #LOGO */
/* -------------------- */
h1.logo {
  font-family: 'Euphoria Script', cursive;
  margin-bottom: 0; }
  @media screen and (min-width: 1px) {
    h1.logo {
      font-size: 8em;
      text-align: center; } }
  @media screen and (min-width: 992px) {
    h1.logo {
      font-size: 8em;
      margin-top: .5em;
      text-align: left; } }

/* -------------------- */
/* --- #NAV */
/* -------------------- */
.nav__item {
  transition: all .1s ease; }
  @media screen and (min-width: 1px) {
    .nav__item {
      border: 1px solid #fafaf9;
      padding: .5em; } }
  @media screen and (min-width: 992px) {
    .nav__item {
      border: none;
      padding: .2em; } }

.nav__item:hover {
  text-decoration: none; }
  @media screen and (min-width: 992px) {
    .nav__item:hover {
      border-bottom: 3px solid #fafaf9; } }

@media screen and (min-width: 1px) {
  .nav__item + .nav__item {
    margin-left: 0; } }

@media screen and (min-width: 992px) {
  .nav__item + .nav__item {
    margin-left: 1em; } }

/* -------------------- */
/* --- #VIDEO WRAPPER */
/* -------------------- */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 2em; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* ------------------------------ */
/* ------------- #PAGES */
/* ------------------------------ */
/* -------------------- */
/* --- #ABOUT */
/* -------------------- */
.about__intro {
  margin-bottom: 5em; }

/* -------------------- */
/* --- #CRIT ROLE */
/* -------------------- */
.crit-role {
  background-color: #323232;
  color: #fafaf9; }

/* -------------------- */
/* --- #INTRO */
/* -------------------- */
.intro {
  position: relative;
  background-image: linear-gradient(to right, #830202, #e73023);
  background-color: #e73023;
  color: #fafaf9;
  overflow: hidden; }
  @media screen and (min-width: 1px) {
    .intro {
      padding-top: 1em;
      padding-bottom: 1em; } }
  @media screen and (min-width: 992px) {
    .intro {
      padding-top: 4em;
      padding-bottom: 4em; } }

.intro__subhead {
  margin: 0;
  opacity: .8; }

@media screen and (min-width: 1px) {
  .intro__subhead-alpha {
    font-size: 1.2em;
    text-align: center; } }

@media screen and (min-width: 992px) {
  .intro__subhead-alpha {
    font-size: 1.3em;
    text-align: left; } }

@media screen and (min-width: 1px) {
  .intro__subhead-beta {
    font-size: 1.7em;
    text-align: center; } }

@media screen and (min-width: 992px) {
  .intro__subhead-beta {
    font-size: 1.85em;
    text-align: left; } }

.intro__cta {
  margin-top: 1em;
  background-color: #fafaf9;
  color: #323232;
  border-color: #323232; }

.intro__cta:hover {
  background-color: #fafaf9;
  color: #e73023; }

.intro__cta i {
  position: relative;
  font-size: 1.1em;
  left: .2em;
  transition: left .2s ease; }

.intro__cta:hover i {
  left: .5em; }

.intro__image {
  width: 100%;
  height: auto;
  max-width: 650px;
  margin-top: 4em; }

.intro__nav--large {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  margin-top: .5em;
  margin-right: 3em; }

.intro__nav--small {
  position: relative; }

.intro__nav .nav__item {
  color: #fafaf9;
  font-size: 1rem; }

/* -------------------- */
/* --- #WANT */
/* -------------------- */
/* -------------------- */
/* --- #CTA */
/* -------------------- */
.cta {
  margin-bottom: 5em; }

.tester-button {
  margin-top: 1em; }

.tester-button:hover i {
  color: #e6a22d; }

.follow-button {
  margin-top: 3em; }

.follow-button:hover i {
  color: #55acee; }

/* ------------------------------ */
/* ------------- #HELPERS */
/* ------------------------------ */
.capitalize {
  text-transform: capitalize !important; }

.float-right {
  float: right; }

.hidden {
  display: none !important; }

.no-padding {
  padding: 0 !important; }

.page-spacer {
  margin-top: 2em; }

.text-center {
  text-align: center; }
